a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 0;
  width: fit-content;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}
