.rounded-6 {
  border-radius: 80px;
}

.rounded-top-6 {
  border-radius: 80px 80px 0px 0px;
}

.rounded-top-right-7 {
  border-top-right-radius: 100px;
}

.rounded-bottom-left-6 {
  border-bottom-left-radius: 80px;
}

.rounded-7 {
  border-radius: 100px;
}

.rounded-5 {
  border-radius: 20px;
}
