.slide-up-hover {
  transition: transform 0.5s;
  &:hover {
    transform: translate(0, -10px);
    transition: transform 0.5s;
  }
}

.slide-right-hover {
  transition: 0.3s;
  &:hover {
    transform: translate(5px, 0px);
    transition: 0.3s;
  }
}

.img-hover-darken {
  transition: 0.3s;
  &:hover {
    filter: brightness(0.7);
    transition: 0.3s;
  }
}
