<div class="overlay-cover"></div>
<nav class="navbar navbar-expand-md position-relative py-0">
  <div
    class="container rounded-7 header-shadow bg-neutral-0 py-4 px-9 mt-md-9 mb-md-4 d-none d-md-block"
  >
    <div class="desktop-header d-flex justify-content-between w-100">
      <div class="align-items-center d-none d-md-flex">
        <!-- logo -->
        <a class="navbar-brand mr-6" href="#">
          <img
            src="../assets/images/logo.png"
            alt="Learning Logo"
            width="200"
          />
        </a>

        <div class="d-flex align-items-center me-auto">
          <!-- Dropdown menu -->
          <div class="dropdown">
            <button
              class="dropdown-toggle body-text px-6 border-0 bg-transparent explore-btn"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              data-bs-auto-close="outside"
            >
              探索
            </button>

            <div class="desktop-dropdown-menu">
              <div
                class="dropdown-menu dropdown-menu-level-one dropend bg-neutral-10 border-0 border-end"
              >
                <div class="dropdown-menu-wrapper">
                  <ul
                    class="list-unstyled mb-0 border-end border-neutral-40 border-0 py-0"
                  >
                    <li>
                      <a class="dropdown-item dropdown-item-all mb-2" href="#"
                        >探索全部</a
                      >
                    </li>
                    <li><a class="dropdown-item" href="#">音樂</a></li>
                    <li><a class="dropdown-item" href="#">攝影</a></li>
                    <li>
                      <!-- 程式第一層menu -->
                      <a
                        class="dropdown-item dropdown-toggle active"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        data-bs-auto-close="outside"
                        >程式</a
                      >
                      <!-- 程式第二層menu -->

                      <div class="dropdown-menu dropdown-menu-level-two">
                        <div class="dropdown-menu-wrapper">
                          <ul
                            class="list-unstyled border-end border-neutral-40"
                          >
                            <li>
                              <a
                                class="dropdown-item dropdown-item-all"
                                href="#"
                                >所有程式</a
                              >
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">程式入門</a>
                            </li>
                            <li>
                              <a
                                class="dropdown-item dropdown-toggle active"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                data-bs-auto-close="outside"
                                >網頁前端</a
                              >
                              <!-- 程式第三層menu -->
                              <div
                                class="dropdown-menu dropdown-menu-level-three"
                              >
                                <div class="dropdown-menu-wrapper">
                                  <ul class="list-unstyled px-6">
                                    <div
                                      class="d-flex align-items-center pb-4 mb-4 border-bottom mt-2"
                                    >
                                      <img
                                        src="../assets/images/icons/ic_fire.png"
                                        alt="fire icon"
                                        class="me-2"
                                        width="21"
                                        height="21"
                                      />
                                      <p class="subtitle">熱門網頁前端課程</p>
                                    </div>

                                    <%-
                                    include('./layout/course-card-horizontal',{courseName:
                                    "小白也會！從零開始學習 Python 程式設計" ,
                                    courseImage:"course-5.png",teacherImage:"avatar-2.png",
                                    teacherName:"Kelly Hsu",
                                    discountPrice:"2,480",
                                    originalPrice:"3,200", studentAmount:"420",
                                    rating:"4.0", ratingAmount:"333"}) -%> <%-
                                    include('./layout/course-card-horizontal',{courseName:
                                    "小白也會！從零開始學習 Python 程式設計" ,
                                    courseImage:"course-5.png",teacherImage:"avatar-2.png",
                                    teacherName:"Kelly Hsu",
                                    discountPrice:"2,480",
                                    originalPrice:"3,200", studentAmount:"420",
                                    rating:"4.0", ratingAmount:"333"}) -%> <%-
                                    include('./layout/course-card-horizontal',{courseName:
                                    "小白也會！從零開始學習 Python 程式設計" ,
                                    courseImage:"course-5.png",teacherImage:"avatar-2.png",
                                    teacherName:"Kelly Hsu",
                                    discountPrice:"2,480",
                                    originalPrice:"3,200", studentAmount:"420",
                                    rating:"4.0", ratingAmount:"333"}) -%>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">網頁後端</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">網站架設</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">資訊安全</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">程式語言</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">遊戲開發</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">資料科學</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">人工智慧</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">量化分析</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>

                    <li><a class="dropdown-item" href="#">藝術</a></li>
                    <li><a class="dropdown-item" href="#">人文</a></li>
                    <li><a class="dropdown-item" href="#">攝影</a></li>
                    <li><a class="dropdown-item" href="#">行銷</a></li>
                    <li><a class="dropdown-item" href="#">投資理財</a></li>
                    <li><a class="dropdown-item" href="#">心靈成長</a></li>
                    <li><a class="dropdown-item" href="#">職場技能</a></li>
                    <li><a class="dropdown-item" href="#">生活品味</a></li>
                    <li><a class="dropdown-item" href="#">攝影</a></li>
                    <li><a class="dropdown-item" href="#">行銷</a></li>
                    <li><a class="dropdown-item" href="#">投資理財</a></li>
                    <li><a class="dropdown-item" href="#">心靈成長</a></li>
                    <li><a class="dropdown-item" href="#">生活品味</a></li>
                    <li><a class="dropdown-item" href="#">攝影</a></li>
                    <li><a class="dropdown-item" href="#">行銷</a></li>
                    <li><a class="dropdown-item" href="#">投資理財</a></li>
                    <li><a class="dropdown-item" href="#">心靈成長</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <span class="material-symbols-outlined d-none d-md-flex d-xl-none">
            search
          </span>

          <!-- Search form -->
          <form
            class="d-none d-xl-flex search-form align-items-center position-relative"
            role="search"
          >
            <span
              class="material-symbols-outlined position-absolute search-icon"
            >
              search
            </span>
            <input
              type="search"
              class="form-control search"
              placeholder="搜尋各種音樂、數學、程式及設計課程"
              aria-label="Search"
              aria-describedby="addon-wrapping"
            />
            <button
              class="btn btn-primary py-3 px-4 position-absolute search-submit-button"
              type="submit"
            >
              搜尋
            </button>
          </form>
        </div>
      </div>

      <div class="align-items-center justify-content-between d-none d-md-flex">
        <div class="d-flex align-items-center">
          <div
            style="width: 48px"
            class="me-4 position-relative d-flex align-items-center"
          >
            <div class="material-symbols-outlined text-neutral-80">
              notifications
            </div>

            <span
              class="position-absolute top-0 start-50 translate-middle badge rounded-circle bg-primary p-1"
              ><span class="visually-hidden">unread messages</span></span
            >
          </div>

          <div
            style="width: 48px"
            class="me-4 position-relative d-flex align-items-center"
          >
            <div class="material-symbols-outlined text-neutral-80">
              shopping_cart
            </div>
            <span
              class="position-absolute top-0 start-50 translate-middle badge rounded-circle text-bg-primary body-text-xs d-flex justify-content-center border-white"
              style="font-weight: 400; border: 2px solid; width: 25px"
            >
              2<span class="visually-hidden">unread messages</span></span
            >
          </div>

          <a
            href="login.html"
            class="d-flex align-items-center btn btn-primary px-7 py-4 title"
          >
            登入 / 註冊
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-header bg-neutral-0 d-flex d-md-none w-100">
    <div class="container p-3">
      <div class="d-flex justify-content-between">
        <!-- logo -->
        <a class="navbar-brand mr-6" href="#">
          <img
            src="../assets/images/logo.png"
            alt="Learning Logo"
            width="125"
          />
        </a>

        <div class="d-flex">
          <div class="d-flex align-items-center">
            <div
              style="width: 48px"
              class="me-4 position-relative d-flex align-items-center"
            >
              <div class="material-symbols-outlined text-neutral-80">
                notifications
              </div>

              <span
                class="position-absolute top-0 start-50 translate-middle badge rounded-circle bg-primary p-1"
                ><span class="visually-hidden">unread messages</span></span
              >
            </div>

            <div
              style="width: 48px"
              class="me-4 position-relative d-flex align-items-center"
            >
              <div class="material-symbols-outlined text-neutral-80">
                shopping_cart
              </div>
              <span
                class="position-absolute top-0 start-50 translate-middle badge rounded-circle text-bg-primary body-text-xs d-flex justify-content-center border-white"
                style="font-weight: 400; border: 2px solid; width: 25px"
              >
                2<span class="visually-hidden">unread messages</span></span
              >
            </div>
          </div>

          <button
            class="navbar-toggler border-0 d-xl-none"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            <span class="navbar-toggler-icon icon-24"></span>
          </button>
          <div
            class="offcanvas offcanvas-end w-100 show"
            tabindex="-1"
            id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel"
          >
            <div class="offcanvas-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>

            <div class="offcanvas-body py-4 px-6">
              <div class="fixed-bottom">
                <div class="py-3 px-6 border-top bg-neutral-0">
                  <a
                    href="login.html"
                    class="d-flex justify-content-center btn btn-primary py-4 title"
                  >
                    登入 / 註冊
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
