.top-banner {
  .swiper-wrapper {
    height: 400px;
    // min-height: calc(100vh - 500px);
    @include media-breakpoint-up(md) {
      height: auto;
    }
  }

  .banner-image {
    width: 100%;
    height: 400px;
    // min-height: calc(100vh - 500px);
    object-fit: cover;
    @include media-breakpoint-up(md) {
      height: auto;
    }
  }

  .swiper-content {
    overflow: hidden;
    border-radius: 0px;
    @include media-breakpoint-up(md) {
      border-radius: 80px;
    }
  }

  .course-highlight {
    bottom: 0px;
  }

  .deco {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      width: 40%;
      top: -40%;
      left: -10%;
    }
  }

  .swiper-wrapper {
    position: relative;
  }

  .swiper-button-arrow-prev {
    position: absolute;
    top: 40%;
    right: 90%;
    z-index: 10;
    box-shadow: 0px 10px 15px -3px #0000001a;
  }

  .swiper-button-arrow-next {
    position: absolute;
    top: 40%;
    left: 90%;
    z-index: 10;
    box-shadow: 0px 10px 15px -3px #0000001a;
  }

  .swiper-slide-prev {
    opacity: 0.35;
  }

  .swiper-slide-next {
    opacity: 0.35;
  }

  .banner-cta {
    bottom: -200px;
  }
}

.fund-course {
  .deco {
    z-index: -1;
    width: 40%;
    left: -15%;
  }
  .category {
    overflow-x: auto;
    white-space: nowrap;
  }
}

.more-course {
  background: linear-gradient(180deg, #f0f6ff 0%, #ffffff 100%);

  .title-deco {
    position: relative;
    z-index: 1;

    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      left: -30px;
      top: -30px;
      background-image: url(/assets/images/deco/flower-1.png);
      width: 60px;
      height: 60px;
    }
  }

  .deco-1 {
    left: -5%;
    top: -15%;
  }

  .deco-2 {
    width: 25%;
    left: -13%;
    top: 30%;
  }

  .section-title {
    z-index: 2;
  }

  .swiper-button-arrow-prev {
    position: absolute;
    top: 40%;
    left: -1%;
    z-index: 10;
    box-shadow: 0px 10px 15px -3px #0000001a;
  }

  .swiper-button-arrow-next {
    position: absolute;
    top: 40%;
    right: -1%;
    z-index: 10;
    box-shadow: 0px 10px 15px -3px #0000001a;
  }
}

.course-category {
  .category {
    flex-wrap: nowrap;
    overflow: auto;
  }
  .category-item {
    flex: 0 0 auto;
  }

  .desktop-background {
    @include media-breakpoint-up(md) {
      max-width: 1500px;
      background-color: $primary;
      border-radius: 80px;
    }
  }
  .container {
    border-radius: 40px;
    @include media-breakpoint-up(md) {
      border-radius: 80px;
    }
  }

  .deco-line {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 60%;
    }
  }
}
