<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- Material Icon -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>

  <body>
    <div class="top-banner mb-md-12">
      <div class="swiper bannerSwiper">
        <div class="swiper-wrapper">
          <!-- Slider 1 -->
          <div class="swiper-slide">
            <div class="position-relative swiper-content">
              <a href="#">
                <img
                  src="../assets/images/deco/flower-4.png"
                  class="position-absolute deco"
                  alt=""
                />

                <img
                  src="../assets/images/hero-1.png"
                  alt=""
                  class="banner-image rounded-md-6"
                />

                <div class="position-absolute course-highlight">
                  <h6
                    class="slide-up-hover d-flex align-items-center fw-semibold bg-neutral-0 rounded-pill p-xl-4 p-md-2 p-2 mb-xl-10 mb-md-8 mb-10 ms-xl-9 ms-md-7 mx-4 fs-xl-6 fs-subtitle"
                  >
                    <span
                      class="badge bg-primary-10 text-primary me-2 py-2 px-3 rounded-7"
                      >熱銷課程 🔥</span
                    >
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </h6>

                  <div
                    class="py-xl-7 py-md-5 ps-xl-15 ps-md-11 pe-xl-13 pe-md-7 bg-primary rounded-top-right-7 d-none d-md-block"
                  >
                    <h2
                      class="text-neutral-0 fs-xl-2 fs-md-5 d-flex justify-content-center slide-right-hover"
                    >
                      探索感興趣的課程，今天立即上課
                      <span
                        class="material-symbols-outlined fs-xl-2 fs-md-5 ms-4"
                      >
                        arrow_right_alt
                      </span>
                    </h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- Slider 2 -->
          <div class="swiper-slide">
            <div class="position-relative swiper-content">
              <a href="#">
                <img
                  src="../assets/images/deco/flower-4.png"
                  class="position-absolute deco"
                  alt=""
                />

                <img
                  src="../assets/images/hero-2.png"
                  alt=""
                  class="banner-image rounded-md-6"
                />

                <div class="position-absolute course-highlight">
                  <h6
                    class="slide-up-hover d-flex align-items-center fw-semibold bg-neutral-0 rounded-pill p-xl-4 p-md-2 p-2 mb-xl-10 mb-md-8 mb-10 ms-xl-9 ms-md-7 mx-4 fs-xl-6 fs-subtitle"
                  >
                    <span
                      class="badge bg-primary-10 text-primary me-2 py-2 ps-3 pe-4 rounded-7"
                      >熱銷課程 🔥</span
                    >
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </h6>

                  <div
                    class="py-xl-7 py-md-5 ps-xl-15 ps-md-11 pe-xl-13 pe-md-7 bg-primary rounded-top-right-7 d-none d-md-block"
                  >
                    <h2
                      class="text-neutral-0 fs-xl-2 fs-md-5 d-flex justify-content-center slide-right-hover"
                    >
                      探索感興趣的課程，今天立即上課
                      <span
                        class="material-symbols-outlined fs-xl-2 fs-md-5 ms-4"
                      >
                        arrow_right_alt
                      </span>
                    </h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- Slider 3 -->
          <div class="swiper-slide">
            <div class="position-relative swiper-content">
              <a href="#">
                <img
                  src="../assets/images/deco/flower-4.png"
                  class="position-absolute deco"
                  alt=""
                />

                <img
                  src="../assets/images/hero-3.png"
                  alt=""
                  class="banner-image rounded-md-6"
                />

                <div class="position-absolute course-highlight">
                  <h6
                    class="slide-up-hover d-flex align-items-center fw-semibold bg-neutral-0 rounded-pill p-xl-4 p-md-2 p-2 mb-xl-10 mb-md-8 mb-10 ms-xl-9 ms-md-7 mx-4 fs-xl-6 fs-subtitle"
                  >
                    <span
                      class="badge bg-primary-10 text-primary me-2 py-2 px-3 rounded-7"
                      >熱銷課程 🔥</span
                    >
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </h6>

                  <div
                    class="py-xl-7 py-md-5 ps-xl-15 ps-md-11 pe-xl-13 pe-md-7 bg-primary rounded-top-right-7 d-none d-md-block"
                  >
                    <h2
                      class="text-neutral-0 fs-xl-2 fs-md-5 d-flex justify-content-center slide-right-hover"
                    >
                      探索感興趣的課程，今天立即上課
                      <span
                        class="material-symbols-outlined fs-xl-2 fs-md-5 ms-4"
                      >
                        arrow_right_alt
                      </span>
                    </h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- Slider 4 -->
          <div class="swiper-slide">
            <div class="position-relative swiper-content">
              <a href="#">
                <img
                  src="../assets/images/deco/flower-4.png"
                  class="position-absolute deco"
                  alt=""
                />

                <img
                  src="../assets/images/hero-2.png"
                  alt=""
                  class="banner-image rounded-md-6"
                />

                <div class="position-absolute course-highlight">
                  <h6
                    class="slide-up-hover d-flex align-items-center fw-semibold bg-neutral-0 rounded-pill p-xl-4 p-md-2 p-2 mb-xl-10 mb-md-8 mb-10 ms-xl-9 ms-md-7 mx-4 fs-xl-6 fs-subtitle"
                  >
                    <span
                      class="badge bg-primary-10 text-primary me-2 py-2 px-3 rounded-7"
                      >熱銷課程 🔥</span
                    >
                    給成人的鋼琴入門課，一小時教你彈奏上手！
                  </h6>

                  <div
                    class="py-xl-7 py-md-5 ps-xl-15 ps-md-11 pe-xl-13 pe-md-7 bg-primary rounded-top-right-7 d-none d-md-block"
                  >
                    <h2
                      class="text-neutral-0 fs-xl-2 fs-md-5 d-flex justify-content-center slide-right-hover"
                    >
                      探索感興趣的課程，今天立即上課
                      <span
                        class="material-symbols-outlined fs-xl-2 fs-md-5 ms-4"
                      >
                        arrow_right_alt
                      </span>
                    </h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-pagination d-block d-md-none"></div>

        <div class="swiper-button-arrow-prev d-none d-md-block rounded-2">
          <span
            class="material-symbols-outlined fs-3 text-primary bg-neutral-0 rounded-2 p-2"
          >
            arrow_left_alt
          </span>
        </div>
        <div class="swiper-button-arrow-next d-none d-md-block rounded-2">
          <span
            class="material-symbols-outlined fs-3 text-primary bg-neutral-0 rounded-2 p-2"
          >
            arrow_right_alt
          </span>
        </div>
      </div>
      <div class="bg-primary d-block d-md-none text-center py-4">
        <a href="#">
          <h2
            class="text-neutral-0 subtitle d-flex align-items-center slide-right-hover"
          >
            探索感興趣的課程，今天立即上課
            <span class="material-symbols-outlined ms-4">
              arrow_right_alt
            </span>
          </h2>
        </a>
      </div>
    </div>

    <div class="fund-course position-relative">
      <img
        src="../assets/images/deco/flower-2.png"
        class="position-absolute deco"
        alt=""
      />
      <div class="container py-md-15 py-13">
        <div class="row">
          <div class="col-lg-4 mt-lg-17">
            <!-- Section Title -->
            <div class="d-flex flex-column align-items-start">
              <h2 class="fs-1 fw-semibold mb-2">火熱募資課程</h2>
              <p class="body-text text-neutral-80 mb-lg-9 mb-6">
                現在購買最優惠✨
              </p>
            </div>
            <!-- Tab -->
            <div class="mb-lg-9 mb-6">
              <ul
                class="category d-flex flex-md-wrap ps-0 justify-content-md-start"
              >
                <li
                  class="btn btn-outline-neutral-0 border py-3 px-4 mb-lg-3 mb-md-2 me-3 active"
                >
                  <a href="#">全部</a>
                </li>
                <li
                  class="btn btn-outline-neutral-0 border py-3 px-4 mb-lg-3 mb-md-2 me-3"
                >
                  <a href="#">🍽️ 烹飪料理</a>
                </li>
                <li
                  class="btn btn-outline-neutral-0 border py-3 px-4 mb-lg-3 mb-md-2 me-3"
                >
                  <a href="#">📊 數據分析</a>
                </li>
                <li
                  class="btn btn-outline-neutral-0 border py-3 px-4 mb-lg-3 mb-md-2 me-3"
                >
                  <a href="#">🎼 音樂製作</a>
                </li>
                <li
                  class="btn btn-outline-neutral-0 border py-3 px-4 mb-lg-3 mb-md-2 me-3"
                >
                  <a href="#">📝 創意寫作</a>
                </li>
                <li
                  class="btn btn-outline-neutral-0 border py-3 px-4 mb-lg-3 mb-md-2 me-3"
                >
                  <a href="#">💬 語言學習</a>
                </li>
                <li
                  class="btn btn-outline-neutral-0 border py-3 px-4 mb-lg-3 mb-md-2 me-3"
                >
                  <a href="#">🖌️ 藝術創作</a>
                </li>
              </ul>
            </div>
            <!-- Desktop CTA -->
            <button class="btn btn-primary title d-none d-lg-block">
              更多募資課程
            </button>
          </div>
          <!-- Desktop Course Card -->
          <div class="col-lg-8 d-none d-md-block">
            <div class="row g-3">
              <!-- Course Card 1 -->
              <%- include('./layout/course-card-with-progress', {course:[{badge:
              "優惠倒數 10 天", coverImage:"course-4.png",
              courseName:"創意寫作工坊：從靈感到出版的全過程",teacherImage:"avatar-2.png",
              progress:"81", studentAmount: "521", discountPrice: "2,480",
              originalPrice:"3,200", teacherName:"Kelly Hsu"}]}) -%>

              <!-- Course Card 2 -->
              <%- include('./layout/course-card-with-progress', {course:[{badge:
              "優惠倒數 17 天", coverImage:"course-1.png",
              courseName:"健康廚房：營養均衡的素食料理指南",teacherImage:"teacher-7.png",teacherName:"希姐帶你吃",
              progress:"281", studentAmount: "1,391", discountPrice: "1,680",
              originalPrice:"2,080"}]}) -%>

              <!-- Course Card 3 -->
              <%- include('./layout/course-card-with-progress', {course:[{badge:
              "優惠倒數 9 天", coverImage:"course-2.png",
              courseName:"音樂製作入門：從零開始創作你的音樂",teacherImage:"teacher-2.png",teacherName:"K.Dee",
              progress:"76", studentAmount: "420", discountPrice: "3,200",
              originalPrice:"2,080"}]}) -%>

              <!-- Course Card 4 -->
              <%- include('./layout/course-card-with-progress', {course:[{badge:
              "優惠倒數 1 天", coverImage:"course-3.png",
              courseName:"掌握商業攝影：打造你的專業攝影事業",teacherImage:"avatar-4.png",teacherName:"Mikeeee",
              progress:"98", studentAmount: "290", discountPrice: "1,980",
              originalPrice:"3,200"}]}) -%>
            </div>
          </div>
        </div>
        <!-- Mobile Course Card Swiper-->
        <div class="swiper mobileCardSwiper d-block d-md-none">
          <div class="swiper-wrapper mb-10 py-5">
            <div class="swiper-slide">
              <%- include('./layout/course-card-with-progress', {course:[{badge:
              "優惠倒數 10 天", coverImage:"course-4.png",
              courseName:"創意寫作工坊：從靈感到出版的全過程",teacherImage:"avatar-2.png",
              progress:"81", studentAmount: "521", discountPrice: "2,480",
              originalPrice:"3,200", teacherName:"Kelly Hsu"}]}) -%>
            </div>
            <div class="swiper-slide">
              <%- include('./layout/course-card-with-progress', {course:[{badge:
              "優惠倒數 17 天", coverImage:"course-1.png",
              courseName:"健康廚房：營養均衡的素食料理指南",teacherImage:"teacher-7.png",teacherName:"希姐帶你吃",
              progress:"281", studentAmount: "1,391", discountPrice: "1,680",
              originalPrice:"2,080"}]}) -%>
            </div>
            <div class="swiper-slide">
              <%- include('./layout/course-card-with-progress', {course:[{badge:
              "優惠倒數 9 天", coverImage:"course-2.png",
              courseName:"音樂製作入門：從零開始創作你的音樂",teacherImage:"teacher-2.png",teacherName:"K.Dee",
              progress:"76", studentAmount: "420", discountPrice: "3,200",
              originalPrice:"2,080"}]}) -%>
            </div>
            <div class="swiper-slide">
              <%- include('./layout/course-card-with-progress', {course:[{badge:
              "優惠倒數 1 天", coverImage:"course-3.png",
              courseName:"掌握商業攝影：打造你的專業攝影事業",teacherImage:"avatar-4.png",teacherName:"Mikeeee",
              progress:"98", studentAmount: "290", discountPrice: "1,980",
              originalPrice:"3,200"}]}) -%>
            </div>
          </div>
          <div class="swiper-pagination d-block d-md-none"></div>
        </div>

        <!-- Mobile CTA -->
        <button class="btn btn-primary title d-block d-lg-none w-100 mt-6">
          更多募資課程
        </button>
      </div>
    </div>

    <!-- More Course -->
    <div class="more-course position-relative">
      <img
        src="../assets/images/deco/flower-3.png"
        class="position-absolute deco-2 d-none d-lg-block"
        alt="deco flower"
      />
      <div class="py-md-15 py-13">
        <div class="container mb-md-9 mb-3">
          <div
            class="d-flex flex-column align-items-md-center align-items-start position-relative"
          >
            <!-- Mobile Section Title -->

            <h2 class="fs-1 mb-2 title-deco d-md-none">
              看看大家<br />都買了什麼
            </h2>

            <!-- Desktop Section Title -->

            <h2 class="fs-1 mb-2 title-deco d-none d-md-block">
              看看大家都買了什麼
            </h2>

            <p class="body-text-s text-neutral-80">熱銷課程一次看！✨</p>
          </div>
        </div>

        <div class="container px-3 position-relative">
          <div class="swiper courseCardSwiper2">
            <div class="swiper-wrapper py-5">
              <div class="swiper-slide">
                <%- include('./layout/course-card-swiper-with-footer',
                {course:[{badge: "限時 8 折 🔥", coverImage:"course-4.png",
                courseName:"創意寫作工坊：從靈感到出版的全過程",teacherImage:"avatar-2.png",
                studentAmount: "420", discountPrice: "2,480",
                originalPrice:"3,200", teacherName:"Kelly Hsu",
                category:"中文創作", rating:"4.0", ratingAmount: "333"}]}) -%>
              </div>
              <div class="swiper-slide">
                <%- include('./layout/course-card-swiper-with-footer',
                {course:[{badge: "限時 8 折 🔥",
                courseName:"小白也會！從零開始學習 Python程式設計",
                coverImage:"course-5.png", teacherImage:"avatar-2.png",
                studentAmount: "420", discountPrice: "2,480",
                originalPrice:"3,200", teacherName:"Kelly Hsu",
                category:"程式開發", rating:"4.0", ratingAmount: "333"}]}) -%>
              </div>
              <div class="swiper-slide">
                <%- include('./layout/course-card-swiper-with-footer',
                {course:[{badge: "限時 8 折 🔥", coverImage:"course-6.png",
                courseName:"全面掌握 JavaScript 開發技術",
                teacherImage:"avatar-2.png", studentAmount: "420",
                discountPrice: "2,480", originalPrice:"3,200",
                teacherName:"Kelly Hsu", category:"程式開發", rating:"4.0",
                ratingAmount: "333"}]}) -%>
              </div>
              <div class="swiper-slide">
                <%- include('./layout/course-card-swiper-with-footer',
                {course:[{coverImage:"course-7.png",
                courseName:"HTML&CSS網頁設計基礎教程",
                teacherImage:"avatar-2.png", studentAmount:"420", discountPrice:
                "2,480", originalPrice:"3,200", teacherName:"Kelly Hsu",
                category:"程式開發", rating:"4.0", ratingAmount: "333"}]}) -%>
              </div>
              <div class="swiper-slide">
                <%- include('./layout/course-card-swiper-with-footer',
                {course:[{coverImage:"course-8.png",
                courseName:"更進一步！深入學習 Node.js 與後端開發",
                teacherImage:"avatar-2.png", studentAmount:"420", discountPrice:
                "2,480", originalPrice:"3,200", teacherName:"Kelly Hsu",
                category:"程式開發", rating:"4.0", ratingAmount: "333"}]}) -%>
              </div>
            </div>
          </div>
          <div class="swiper-button-arrow-prev d-none d-md-block rounded-2">
            <span
              class="material-symbols-outlined fs-3 bg-primary text-neutral-0 rounded-2 p-2"
            >
              arrow_left_alt
            </span>
          </div>
          <div class="swiper-button-arrow-next d-none d-md-block rounded-2">
            <span
              class="material-symbols-outlined fs-3 bg-primary text-neutral-0 rounded-2 p-2"
            >
              arrow_right_alt
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Course Category -->
    <div class="course-category py-lg-15 py-md-12 py-9">
      <div class="desktop-background mx-lg-auto">
        <div class="container bg-primary py-13 ps-sm-4">
          <div
            class="row flex-row-reverse justify-content-between align-items-center"
          >
            <!-- section title -->
            <div class="col-lg-5 mb-9 mb-lg-0 d-md-flex">
              <img
                src="../assets/images/deco/polygon-1.png"
                alt="deco image"
                class="deco-image"
                width="80"
                height="80"
              />

              <div>
                <h2 class="text-neutral-0">想學什麼嗎？ <br />一探究竟。</h2>
                <img
                  src="../assets/images/deco/line-2.png"
                  alt=""
                  class="deco-line"
                />
              </div>
            </div>

            <!-- card list -->
            <div class="col-lg-6 category">
              <div class="">
                <div class="row flex-md-wrap g-md-4 mb-4 category first-row">
                  <!-- Card 1 -->
                  <%- include('./layout/icon-card', {category:[{name:"網路行銷",
                  courseAmount:"342", color:"#FF994F",
                  icon:"megaphoneSimple"}]}) -%>
                  <!-- Card 2 -->
                  <%- include('./layout/icon-card', {category:[{name:"拍攝剪輯",
                  courseAmount:"563", color:"#5E5E5E", icon:"camera"}]}) -%>
                  <!-- Card 3 -->
                  <%- include('./layout/icon-card', {category:[{name:"自我成長",
                  courseAmount:"490", color:"#FF9BAD",
                  icon:"chartBarHorizontal"}]}) -%>
                  <!-- Card 4 -->
                  <%- include('./layout/icon-card', {category:[{name:"藝術設計",
                  courseAmount:"563", color:"#564FFD", icon:"pencil"}]}) -%>
                </div>
              </div>
              <div class="row flex-md-wrap g-md-4 category second-row">
                <!-- Card 5 -->
                <%- include('./layout/icon-card', {category:[{name:"數據分析",
                courseAmount:"563", color:"#54DFF2", icon:"bugDroid"}]}) -%>
                <!-- Card 6 -->
                <%- include('./layout/icon-card', {category:[{name:"投資理財",
                courseAmount:"563", color:"#52E9BC", icon:"creditCard"}]}) -%>
                <!-- Card 7 -->
                <%- include('./layout/icon-card', {category:[{name:"音樂創作",
                courseAmount:"563", color:"#CF93FF", icon:"headphones"}]}) -%>
                <!-- Card 8 -->
                <%- include('./layout/icon-card', {category:[{name:"探索更多",
                color:"#0068FF", icon:"arrow"}]}) -%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Top Teachers -->
    <div class="top-teachers position-relative pt-md-15 pb-md-19 pt-13 pb-15">
      <img
        src="../assets/images/deco/line-1.png"
        alt="line deco"
        class="w-100 position-absolute deco d-none d-lg-block"
      />

      <div class="container">
        <!-- section title -->
        <div class="d-flex flex-column align-items-center mb-9">
          <h2 class="fs-1 mb-2 title-deco">頂尖講師帶你飛</h2>

          <p class="body-text-s text-neutral-80">
            超真實學員評價，這些講師你絕對不能錯過！
          </p>
        </div>

        <!-- Course Card Swiper-->
        <div class="swiper mobileCardSwiper2">
          <div class="swiper-wrapper mb-10 py-5">
            <div class="swiper-slide">
              <%-
              include('./layout/top-teachers-card',{teacher:[{image:"teacher-3.png",
              name:"Mr. Robert", field: "音樂創作", rating:"4.0",
              ratingAmount:"333",
              feedback:"Robert的線上課程深受學生喜愛。他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。"}]})
              -%>
            </div>
            <div class="swiper-slide">
              <%-
              include('./layout/top-teachers-card',{teacher:[{image:"teacher-1.png",
              name:"Kelly Beck", field: "英文寫作", rating:"4.8",
              ratingAmount:"281",
              feedback:"Kelly的教學方式靈活且富有創意，能夠有效提升學生的寫作技巧和自信心。Kelly注重實用性，針對學生的需求量身打造教學內容，並提供具體的反饋和建議。"}]})
              -%>
            </div>
            <div class="swiper-slide">
              <%-
              include('./layout/top-teachers-card',{teacher:[{image:"teacher-2.png",
              name:"K. Lee", field: "音樂創作", rating:"4.0",
              ratingAmount:"333",
              feedback:"K.Lee的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K.Lee的課程讓他們對音樂產生了濃厚的興趣！"}]})
              -%>
            </div>
          </div>
          <div class="swiper-pagination d-block d-lg-none"></div>
        </div>
      </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script type="module" src="../main.js"></script>
  </body>
</html>
